{% extends "base.html" %}
{% block content %}
<!-- Icons Grid -->
<section class="features-icons text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
			</div>
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<i class="icon-info m-auto text-primary"></i>
					</div>
					<h3>Purpose</h3>
					<p class="lead mb-0">UnderstandNot is built for students by students, aimed at providing a platform for students to better obtain quality transcriptions on webcasts other online resources.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<i class="icon-film m-auto text-primary"></i>
					</div>
					<h3>Universal</h3>
					<p class="lead mb-0">Supports all major video types available.</p>
				</div>
			</div>


			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<i class="icon-layers m-auto text-primary"></i>
					</div>
					<h3>Features</h3>
					<p class="lead mb-0">Integrates a magnitude of features including a simple subtitle editor.</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<i class="icon-support m-auto text-primary"></i>
					</div>
					<h3>Supports</h3>
					<p class="lead mb-0">Supports multiple device platforms.</p>
				</div>
			</div>


		</div>
	</div>
</section>
{% endblock %}
