{% extends "base.html" %}
{% block content %}
<!-- Icons Grid -->
<section class="features-icons text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<img src="/static/img/404.jpg" style="height: 100%;max-height: -webkit-fill-available;">
			</div>
			<div class="col-sm">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<i class="icon-exclamation m-auto text-primary"></i>
					</div>
					<h3>Faced with some bugs?</h3>
					<p class="lead mb-0">Excuse Me~</p>
					<p class="lead mb-0">Contact us via <a href="https://github.com/Zenious/UnderstandNot/issues">GitHub</a>!</p>
				</div>
			</div>
		</div>
		<p style="padding-top: 2em;">Image from: <a href="https://anibum.net/excuse-me/">AcrylicStroke from Anibum</a>
		</p>
	</div>
</section>
{% endblock %}
