{% extends "base.html" %}
{% block content %}
<div class="container">
	<h3> Subtitle Editor </h3>
<div class="row">
	<div class="table-responsive col-sm-5" style="max-height: 450px">
	<table class="table-bordered">
		<tr>
			<th>Seq</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Text</th>
		</tr>
		{% for sub in subtitles %}
		<tr onclick="seekToTime(this);">
			<td>{{loop.index}}</td>
			<td>{{sub.start}}</td>
			<td>{{sub.end}}</td>
			<td>{{sub.text}}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="container col-sm-7">
	  <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="1080" height="720"
	  poster="/static/MY_VIDEO_POSTER.jpg" data-setup='{"fluid": true}'>
	    <source src="/r/{{id}}" type='video/mp4'>
	    <track kind='captions' src='/r/{{vtt}}.vtt' srclang='en' label='English' default />
	    <p class="vjs-no-js">
	      To view this video please enable JavaScript, and consider upgrading to a web browser that
	      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
	    </p>
	  </video>
	  <link href="https://vjs.zencdn.net/7.0.3/video-js.css" rel="stylesheet">

	  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
	  <script src="http://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
	  <script src="https://vjs.zencdn.net/7.0.3/video.js"></script>

	</div>


</div>
<div>
	<form>
		<p>
			Current time frame of to edit
		</p>
		<p>
			Start Time: <input type="text" id="edit-start" value="">
			End Time:<input type="text" id="edit-end" value="">
		</p>
		<p> 
			Text in time frame: <textarea id="edit-text"></textarea>		
			<input type="button" onclick="applyChange();" value="Make Change">

		</p>
	</form>
</div>
</div>
</div>
{% endblock %}