<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<table class="table table-bordered">
	<tr>
		<th>Video Title </th> 
		<td>{{title}}</td>
	</tr>
	<tr>
		<th>Duration </th>
		<td>{{duration}}</td>
	</tr>
	<tr>
		<th>Status </th> 
		<td>{{status}}</td>
	</tr>
	{% if ready %}
	<tr>
		<th>Audio</th>
		<th> 
			<audio controls>
			  <source src="/r/{{flac}}.flac" type="audio/flac">
				Your browser does not support the audio element.
			</audio>
		</th>
	</tr>
	<tr> 
		<th> Download subtitle file</th>
		<td> <a href="/r/{{srt}}.srt" download> .srt </a> </td>
	</tr>
	<tr>
		<th> View the Video</th>
		<td> <a href="/video/{{flac}}"> Link</a></td>
	</tr>
	{%endif%}
</table>
</body>
</html>
