{% extends "base.html" %}
{% block content %}
<section>
	<div class="container">
<table class="table table-bordered">
	<tr>
		<th>Video Title </th> 
		<td>{{title}}</td>
	</tr>
	<tr>
		<th>Duration </th>
		<td id="timeDuration">{{duration}}</td>
	</tr>
	<tr>
		<th>Status </th> 
		<td>{{status}}</td>
	</tr>
	<tr>
		<th>Uploaded Date </th> 
		<td>{{date}}</td>
	</tr>
	{% if ready %}
	<tr>
		<th>Edit Subtitles</th>
		<th> 
			<a href="/edit/{{flac}}">Edit the Sub!</a>
		</th>
	</tr>
	<tr> 
		<th> Download subtitle file</th>
		<td> 
			<a href="/r/{{srt}}.srt" download>
				<span class="badge badge-secondary"> .srt </span>
			</a> 
			<a href="/{{srt}}.vtt" download> 
				<span class="badge badge-secondary"> .vtt </span> 
			</a>
		</td>
	</tr>
	<tr>
		<th> View the Video</th>
		<td> <a href="/video/{{flac}}"> Link</a></td>
	</tr>
	<tr>
		<th> Rating </th>
		<td> {{count}}
			<a href="_blank" onclick="submitYes()"> Good? </a>
			<a href="_blank" onclick="submitNo()"> Bad? </a> 
		</td>
	</tr>
	{%endif%}
</table>
</div>
</section>

{% endblock %}

{% block js %}
<script>
	const timeoutPeriod = 30 * 1000;
	setTimeout("location.reload(true);", timeoutPeriod);
</script>
{% endblock %}